<div ng-controller="nutritionixCtrl as nCtrl">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-inline" ng-submit="nCtrl.search()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="nCtrl.query">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="panel-body" ng-show="nCtrl.results.results.length">
			<nav aria-label="Page navigation" class="pull-right">
				<ul class="pagination">
					<li ng-repeat="i in nCtrl.getPages() track by $index" ng-class="{active: $index == nCtrl.page, disabled: i}"><a class="btn btn-link" ng-click="nCtrl.search($index)">{{i ? '&hellip;' : $index+1}}</a></li>
				</ul>
			</nav>
			<p class="form-control-static"><b>{{nCtrl.results.total}}</b> results</p>
		</div>
	</div>
	<div class="progress" ng-show="nCtrl.loading">
		<div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
			<span class="sr-only">Loading</span>
		</div>
	</div>
	<ul class="list-group" ng-hide="nCtrl.loading">
		<li class="list-group-item" ng-repeat="item in nCtrl.results.results">
			<div class="media">
				<div class="media-left" style="min-width:110px">
					<img class="media-object" src="{{item.thumbnail}}" alt="{{item.item_name}}" style="max-width:110px">
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{item.item_name}} <small>{{item.brand_name}}</small></h4>
					<p>{{item.nutrient_name}}: {{item.nutrient_value}} {{item.nutrient_uom}}</p>
					<p>{{item.serving_qty}} {{item.serving_uom}}</p>
				</div>
				<div class="media-right">
					<button class="btn btn-default" ng-click="nCtrl.add({item})" ng-hide="nCtrl.foods.items[item.resource_id]">Add</button>
					<button class="btn btn-default" ng-click="nCtrl.hide({item})" ng-hide="!nCtrl.foods.items[item.resource_id]">Remove</button>
				</div>
			</div>
		</li>
	</ul>
</div>